table, th, td {
    border-collapse: collapse ;
    border: 1px solid black ;
}

thead th:nth-child(1) {
    background-color: white;
}
thead th:nth-child(2) {
    background-color: lightgray;
}
thead th:nth-child(3) {
    background-color: white;
}

.column {
    background-color: lightyellow;
}

.error {
    color: red;
}